<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="">
        <h1>Subcribe Student</h1>
    
        <input type="text" placeholder="fName" name="fName">
        <input type="text" placeholder="lName" name="lName">
        <input type="date" name="birthday" value="2010-01-01">

        <label for="currentClass">Current class:</label>
        <select name="currentClass">
            <option value="1a">1a</option>
            <option value="2b">2b</option>
            <option value="3">3</option>
            <option value="4a">4a</option>
        </select>

        <input type="text" placeholder="currentTeacher" name="currentTeacher">

        <label for="previousClass">Previous class:</label>
        <select name="previousClass">
            <option value="2a">Not at Saint Boni</option>
            <option value="2b">2b</option>
            <option value="3">3</option>
            <option value="4a">4a</option>
        </select>

        <input type="text" placeholder="previousTeacher" name="previousTeacher">

        <input type="text" placeholder="parentNameOne" name="parentNameOne">
        <input type="text" placeholder="parentPhoneOne" name="parentPhoneOne">
        <input type="text" placeholder="parentEmailOne" name="parentEmailOne">
        <input type="text" placeholder="parentNameTwo" name="parentNameTwo">
        <input type="text" placeholder="parentPhoneTwo" name="parentPhoneTwo">
        <input type="text" placeholder="parentEmailTwo" name="parentEmailTwo">

        <input type="text" placeholder="note" name="note">

        <input type="checkbox" id="problem1" name="problem" value="dyslexia">
        <label for="problem1"> dyslexia</label><br>
        <input type="checkbox" id="problem2" name="problem" value="dyscalculia">
        <label for="problem2"> dyscalculia</label><br>
        <input type="checkbox" id="problem3" name="problem" value="autism">
        <label for="problem3"> autism</label><br>


        <button type="submit">Add Student</button>
    
    </form>
</body>
</html>