<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>

	<h1>login</h1> 

	<form action="/login" method="POST"> 
		<input type="text" name="username"
			placeholder="username"> 
		<input type="password" name="password"
			placeholder="password"> 
		<button>login</button> 
	</form> 

	<% if (error) { %>
    <div><%= error%></div>
	<% } %>


</body>
</html>